* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   user-select: none;
}

body {
   background-size: cover; /* 이미지가 화면에 맞게 조정됨 */
   background-position: center; /* 이미지가 중앙에 위치 */
   background-repeat: no-repeat; /* 이미지가 반복되지 않음 */
   min-height: 100vh; /* 전체 화면 높이를 가짐 */
}

.container {
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
}

.content {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   text-align: center;
}

/* Header */
.header {
   display: flex;
   width: 100%;
   height: 100px;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

.date {
   color: white;
   font-size: 30px;
}

/* Time box */
.time_box {
   margin-bottom: 40px;
}

.time_add {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.add_option {
   visibility: hidden;
   margin-left: 10px;
}

.time {
   font-size: 144px;
   color: white;
   height: 150px;
   line-height: 140px;
   padding-left: 40px;
}

.messege_box {
   display: flex;
   justify-content: center;
   align-items: center;
}

.messege {
   color: white;
   font-size: 55px;
}

.little_todo {
   margin-top: 40px;
}

.day_one {
   color: white;
   font-size: 35px;
}

.one_list {
   height: 50px;
   box-sizing: border-box;
   min-width: 560px;
   max-width: 650px;
   text-align: center;
   font-size: 35px;
   color: white;
}

.name {
   font-size: 48px;
   margin-top: 10px;
   width: 150px;
   height: 60px;
   box-sizing: border-box;
   min-width: 150px;
   max-width: 400px;
   text-align: center;
   color: white;
   margin-left: 20px;
}

input:focus::placeholder {
   display: none;
}

.name::placeholder {
   color: rgba(255, 255, 255, 0.7);
}

/* 이름 적는 input창 꾸미기 */
.underline-input {
   border: none;
   border-bottom: 2px solid rgb(255, 255, 255);
   background-color: transparent;
   padding: 3px;
   outline: none;
}

.user_space,
.add_tools,
.links,
.option,
.list_box {
   background-color: rgba(205, 255, 238, 0.3);
   width: 200px;
   height: 60px;
   line-height: 60px;
}

.user_space {
   display: none;
}

.image.active {
   transform: scale(1.2);
   transition: transform 0.3s ease;
}

.links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   transition: width 0.3s ease;
}

.todo {
   width: 40px;
   height: 40px;
   background-image: url(../img/icon/todo.png);
}

.d_day {
   width: 30px;
   height: 30px;
   background-image: url(../img/icon/d_day.png);
}

.link {
   width: 30px;
   height: 30px;
   background-image: url(../img/icon/link.png);
}

.add_tools {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
}

.weather {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
}

.weather_temp {
   color: white;
}

.say_box p {
   height: 30px;
   line-height: 35px;
   padding: 0 20px;
}

.say_box {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 60px;
}

.list_box {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   gap: 20px;
}

.last_box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.footer {
   display: flex;
   width: 100%;
   height: 90px;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
   transition: bottom 0.3s ease;
}

/* 고정 푸터 상태 */
.fixed-footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   transition: bottom 0.3s ease;
}

.option {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.image.active {
   transform: scale(1.2);
   transition: transform 0.3s ease;
}

.image {
   width: 40px;
   height: 40px;
   background-image: url(../img/icon/image.png);
   position: relative;
   transition: none;
}

.wise_say {
   font-size: 20px;
}

.say_person {
   display: none;
}

.note {
   width: 40px;
   height: 40px;
   background-image: url(../img/icon/note.png);
}

.container {
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
}

/* 메모 창 스타일 */
.memo_popup,
.todo_popup {
   position: absolute;
   right: 20px;
   bottom: 100px;
   width: 300px;
   height: 350px;
   background-color: rgba(255, 255, 255, 0.8);
   color: white;
   padding: 20px;
   display: none;
   border-radius: 10px;
}

.memo-header,
.todo-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 25px;
   color: rgb(96, 96, 96);
}

.todo-header {
   margin-bottom: 15px;
}

.memo_popup textarea {
   width: 100%;
   height: 75%;
   background-color: rgba(255, 255, 255, 0.7);
   color: rgb(69, 69, 69);
   border: none;
   padding: 10px;
   border-radius: 5px;
   resize: none;
   box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

#close_btn {
   background-color: rgba(255, 0, 0, 0.5);
   color: white;
   border: none;
   cursor: pointer;
   font-size: 16px;
}

#save {
   float: right;
   margin-top: 10px;
   margin-right: 10px;
}

.list {
   width: 100%;
   height: 70%;
}

ul {
   padding: 10px 0 0 0;
   max-height: 215px;
   overflow-y: auto;
}

li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 95%;
   height: 45px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   color: black;
   list-style: none;
   margin-bottom: 10px;
   padding: 6px;
}

.list_close {
   border: 0;
   width: 20px;
   height: 20px;
   background-color: transparent;
   margin-bottom: 2px;
}

.check {
   margin: 0 8px;
   margin-right: 15px;
}

::-webkit-scrollbar {
   width: 8px;
   height: 4px;
}

::-webkit-scrollbar-track {
   background-color: #f1f1f1;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 10px;
   border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #555;
}

::-webkit-scrollbar-corner {
   background-color: #f1f1f1;
   border-radius: 10px;
}

.todo-footer {
   width: 100%;
   height: 15%;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius: 10px;
}

.todo_input {
   min-width: 80%;
   max-width: 80%;
   width: 80%;
   height: 30px;
   padding-left: 5px;
}

.todo_add {
   margin-left: 5px;
   width: 30px;
   height: 30px;
}

/* 슬라이드 팝업 기본 스타일 */
.popup {
   display: none;
   position: fixed;
   bottom: -100%;
   left: 0;
   width: 300px;
   height: 200px;
   background-color: #f4f4f4;
   box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
   transition: bottom 0.5s ease-in-out;
   padding: 20px;
   box-sizing: border-box;
   z-index: 1000;
}

.popup .popup-content {
   padding: 10px;
   font-size: 16px;
   color: #333;
}

.popup .close-popup {
   position: absolute;
   background-color: transparent;
   top: 7px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
   border: 0;
}

.new_input {
   width: 80%;
   height: 25px;
   padding-left: 5px;
}

/* 사이드바 스타일 */
.sidebar {
   position: fixed;
   left: -250px; /* 사이드바 숨기기 */
   top: 0;
   width: 250px;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   color: white;
   transition: left 0.3s ease; /* 애니메이션 */
   z-index: 1000;
   padding: 20px;
}

.sidebar-content {
   margin-top: 50px;
}

.sidebar h2 {
   color: white;
}

/* 기본 스타일 */
.open-sidebar {
   background-color: transparent;
   position: fixed;
   left: 0; /* 처음에는 왼쪽에 고정 */
   top: 50%;
   color: white;
   margin-left: 20px;
   border: none;
   padding: 10px;
   cursor: pointer;
   font-size: 30px; /* 화살표 크기 */
   z-index: 999;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: left 0.3s ease;
}

.open-sidebar span {
   width: 30px;
   height: 30px;
   box-sizing: border-box;
   background-image: url(../img/icon/arrow.png);
   background-position: center;
   background-size: cover;
   animation: moveArrow 2s infinite;
}

.close-sidebar {
   background-color: #333;
   color: white;
   border: none;
   padding: 10px;
   cursor: pointer;
   font-size: 30px;
   position: absolute;
   top: 10px;
   left: 10px;
   border-radius: 50%;
}

.sidebar {
   position: fixed;
   top: 0;
   left: -250px;
   width: 250px;
   height: 100vh;
   background-color: rgba(211, 211, 211, 1);
   color: white;
   padding: 20px;
   z-index: 998;
}

.sidebar.open {
   left: 0;
}

.open-sidebar.open {
   left: 250px;
}

/* 애니메이션 */
@keyframes moveArrow {
   0% {
      opacity: 0;
      transform: translateX(0);
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      transform: translateX(20px);
   }
}

/* 반응형 스타일 */
@media (max-width: 768px) {
   .time {
      font-size: 100px;
   }

   .day_one {
      font-size: 25px;
   }

   .one_list {
      min-width: 80%;
      max-width: 80%;
      font-size: 25px;
   }

   .name {
      font-size: 30px;
      width: 100px;
   }

   .header,
   .footer {
      justify-content: center;
      align-items: center;
   }

   .messege {
      font-size: 40px;
   }

   .add_tools {
      margin-left: 10px;
   }

   .list_box {
      align-items: center;
   }

   .wise_say,
   .say_person {
      font-size: 20px;
   }
}

@media (max-width: 480px) {
   .time {
      font-size: 60px;
   }

   .one_list {
      font-size: 20px;
   }

   .name {
      font-size: 20px;
   }

   .messege {
      font-size: 30px;
   }

   .popup {
      width: 250px;
      height: 150px;
   }

   .popup .popup-content {
      font-size: 14px;
   }

   .time_box {
      margin: 0;
   }

   .wise_say,
   .say_person {
      font-size: 15px;
   }
}
